.flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.refresh{
  height: 50px;
  line-height: 50px;
  background-color: #ddd;
  font-size: 14px;
  text-align: center;
  margin-top: -50px;
  /* transform: translate3d(0px, -50px, 0px) */
}