.arrow {
  display: inline-block;
  border-width: 1px 1px 0 0;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  flex-shrink: 0;
}
.shadow:active {
  background-color: rgba(0, 0, 0, 0.07);
}