.mask {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-duration: .3s;
}
@keyframes modal-mask-fadein {
  0%{opacity: 0} 
  100%{opacity: 1}
}

@keyframes modal-content-zoom {
  0%{transform: scale(0)}
  50%{transform: scale(1.1)}
  100%{transform: scale(1)}
}

@keyframes modal-content-left-in {
  0%{transform: translate3d(-100%, 0px, 0px)}
  100%{transform: translate3d(0px, 0px, 0px)}
}

@keyframes modal-content-right-in {
  0%{transform: translate3d(100%, 0px, 0px)}
  100%{transform: translate3d(0px, 0px, 0px)}
}

@keyframes modal-content-top-in {
  0%{transform: translate3d(0px, -100%, 0px)}
  100%{transform: translate3d(0px, 0px, 0px)}
}

@keyframes modal-content-bottom-in {
  0%{transform: translate3d(0px, 100%, 0px)}
  100%{transform: translate3d(0px, 0px, 0px)}
}